@using Microsoft.AspNetCore.Identity
@using Core.Cron.Data
@using Kendo.Mvc.UI

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

@{
	ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
	<h3>Please login</h3>
}
else
{
	<div class="row">
		<div class="col-md-6">
			@{await Html.RenderPartialAsync("WorkingNotWorkingPieChart"); }
		</div>
		<div class="col-md-6">
			@{await Html.RenderPartialAsync("RequestsPerService"); }
		</div>
	</div>
}
<script>
	function forgeryToken() {
		return kendo.antiForgeryTokens();
	}
</script>