@using Core.Cron.Data
@using Kendo.Mvc.UI
@model IEnumerable<ChartViewModelWithDate>

<div class="k-content wide">
	@(Html.Kendo().Chart(Model)
		.Name("ServiceHeartbeats")
		.Series(series =>
		{
			series
				.Column(model => model.Value, categoryExpression: model => model.Date)
				.Aggregate(ChartSeriesAggregate.Avg);
		})
		.CategoryAxis(axis => axis
			.Date()
			.BaseUnit(ChartAxisBaseUnit.Days)
			.MajorGridLines(lines => lines.Visible(false))
		)
		.ValueAxis(axis => axis
			.Numeric()
			.Line(line => line.Visible(false))
		)
	)
</div>